* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-color: #000;
  background-image: url(../images/SL_043021_42650_02.jpg);
  background-repeat: no-repeat;
  background-size: 100%;
}

.container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.title {
  margin: 2rem 0 3.5rem 0;
  font-size: 5rem;
  color: #fff;
}

.card {
  margin-top: 1rem;
  background: rgba(134, 134, 134, 0.52);
  width: 100%;
  border-top-left-radius: 2.5rem;
  border-top-right-radius: 2.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 3rem;
  padding: 2.5rem;
  backdrop-filter: blur(5px);
}

.card .input {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.card .input .label-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.6rem 0;
}

.card .input .label-wrapper label {
  color: #fff;
  font-size: 1.5rem;
  font-weight: 700;
}

.card .input .label-wrapper .error-msg {
  color: indianred;
  font-weight: 700;
  font-size: 1.5rem;
  opacity: 0;
}

.card .input .label-wrapper .show-error-msg {
  transition: opacity 1s ease-in-out;
  opacity: 1;
}

.card .input .inp-text {
  background-color: #f4fafa;
  border: none;
  width: 100%;
  height: 50px;
  border-radius: 1rem;
  color: #00494d;
  font-family: "Space Mono", monospace;
  font-size: 2.4rem;
  font-weight: 700;
  text-align: left;
  padding: 0.5rem 4.5rem;
}

.card .input .inp-text:focus {
  outline: none;
  border: none;
}
.card .input .custom-input {
  background-color: #f4fafa;
  border: none;
  width: 30%;
  height: 44px;
  border-radius: 0.5rem;
  color: #00494d;
  font-family: "Space Mono", monospace;
  font-size: 2.4rem;
  font-weight: 600;
  text-align: center;
  padding: 0.1rem 1.5rem;
}
.card .input .custom-input:focus {
  border: none;
  outline: none;
}

.card .input .inp-wrapper {
  position: relative;
}

.card .input .inp-wrapper img {
  position: absolute;
  left: 2.4rem;
  top: 1.6rem;
}

.card .input .btn-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1.5rem;
  padding-top: 1.2rem;
}

.card .input .btn-wrapper .btn {
  width: 46%;
  text-align: center;
  background-color: #00494d;
  color: #fff;
  font-size: 2.4rem;
  font-weight: 700;
  border-radius: 0.5rem;
  padding: 0.6rem 0;
  transition: all 0.5s ease;
}

.card .input .btn-wrapper .btn:hover {
  background-color: #9fe8df;
  color: #000;
  cursor: pointer;
}

.card .input .btn-wrapper .btn-active {
  background-color: #26c0ab;
  color: #00494d;
}

.card .input .btn-wrapper .inp-text {
  width: 46%;
}

.card .output {
  background-color: #00494d;
  width: 100%;
  border-radius: 1.5rem;
  padding: 2.2rem;
}

.card .output .line-wrapper .line-output {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 1.4rem 0 2.4rem 0;
}

.card .output .line-wrapper .line-output .title {
  color: white;
  font-weight: 700;
  font-size: 1.6rem;
}

.card .output .line-wrapper .line-output .desc {
  color: #7f9c9f;
  font-weight: 700;
  font-size: 1.3rem;
}

.card .output .line-wrapper .line-output .value {
  color: #26c0ab;
  font-weight: 700;
  font-size: 3rem;
}

.card .output .btn {
  width: 100%;
  background-color: #26c0ab;
  text-transform: uppercase;
  text-align: center;
  color: #00494d;
  font-size: 2rem;
  font-weight: 700;
  border-radius: 0.5rem;
  padding: 1rem 0;
  margin-top: 3.4rem;
  transition: all 0.5s ease;
}

.card .output .btn:hover {
  background-color: #9fe8df;
}

@-webkit-keyframes show-err {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 1;
  }
  75% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes show-err {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 1;
  }
  75% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@media screen and (min-width: 1440px) {
  .card {
    width: 64%;
    flex-direction: row;
    border-radius: 2.5rem;
    align-items: stretch;
    padding: 3.4rem;
    gap: 1.5rem;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.05),
      0px 20px 30px rgba(0, 0, 0, 0.05);
  }
  .card .input {
    width: 105%;
    padding: 0 3.5rem 1.5rem 1.5rem;
  }
  .card .input .label-wrapper {
    padding: 1rem 0;
  }
  .card .input .btn-wrapper .btn {
    width: 30.5%;
  }
  .card .input .btn-wrapper .inp-text {
    width: 30.5%;
  }
  .card .output {
    width: 95%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 4rem;
  }
  .card .output .line-wrapper .line-output {
    margin: 0.5rem 0 2.4rem 0;
  }
  .card .output .line-wrapper .line-output .value {
    font-size: 4.6rem;
  }
}
/*# sourceMappingURL=styles.css.map */
